:root {
  /* colours */
  --background: #4aa3ff;
  --text: #111111;

  /* typography */
  --regular: system-ui, sans-serif;
  --military: 'Black Ops One', cursive;
  --space: 'Orbitron', sans-serif;
  --fantasy: 'MedievalSharp', cursive;
  --romantic: 'La Belle Aurore', cursive;
  --scary: 'Creepster', cursive;
  --cowboy: 'Rye', cursive;
  --superhero: 'Bangers', cursive;

  /* active font */
  --font: var(--military);

  /* radii */
  --sharp: 0;
  --soft: 10px;
  --round: 100px;

  /* active radius */
  --image: var(--soft);
}
body, html {
    margin: 0;
    padding: 10px;
    background: var(--background);
    color: var(--text);
    font-family: var(--font);
}

img {
    width: 30%;
    border-radius: calc(var(--image) * 2);
    border: 4px solid var(--text);
}

a {
    color: var(--text);
}

input {
    display: block;
    margin: 20px 0 0;
    width: 160px;
    box-sizing: border-box;
    padding: 4px 8px;
    border-width: 1px; 
    border-style: solid;
    border-color:  var(--text);
    color: var(--text);
    background: none;
    border-radius: var(--image);
    font-family: var(--font);
}

::placeholder {
    color: var(--text);
}

button {
    border-radius: var(--image);
    padding: 5px 10px;
    border: none;
    background: var(--text);
    color: var(--background);
    font-weight: bold;
    box-sizing: border-box;
    display: block;
    margin: 8px 0;
    cursor: pointer;
    font-family: var(--font);
    width: 160px;
}
